<h1>Successfully logged in!</h1>
<div>
    <h2>Timed Playlist Creator</h2>
        <form method="post" action="/timed_playlist">
            <input id="playlist-duration" name="input_duration" type="number" >
            <input type="submit">
        </form>
</div>

